<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>display-books</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../static/index.css'>
</head>
<body>
    <section id="sec2">
		<div class="div-two">
			<div class="card">
				<h1 class="">Book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>				
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
		</div>
	</section>
	<section id="sec2">
		<div class="div-two">
			<div class="card">
				<h1 class="">Book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>				
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
			<div class="card">
				<h1>book title</h1>
				<img src="../static/images/sample.jpeg">
				<p>writer of the book</p>
				<p>shot discription of the book</p>
				<button class="btn btn-primary w-50">click</button>
			</div>
		</div>
	</section>

</body>
</html>